html{
    height: 100%;
    background-image: url(img/pyramide.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadre{
    text-align: center;
    width: 40%;
    background-color: white;
    border-radius: 10px;
}

.hall{
    color: white;
    background-color: #FB8500;
    margin-left: 90px;
    margin-right: 90px;
    padding: 10px;
    border-radius: 10px;
}

h1{
    color: #FB8500;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 5em;
}


input{
    border-radius: 20px;
    padding: 5px;
    border-color: #FB8500;
    margin-top: 20px;
}

button{
    color: white;
    background-color:#FFB703;
    border-color: #FB8500;
    border-radius: 20px;
    width: 120px;
    height: 25px;
    margin-bottom: 20px;
}

img{
    width: fit-content;
    height: fit-content;
}

#map{
    height: 500px;
    width: 80%;
}

